<!doctype html>
{% if page.lang %}
  {% assign page_lang = page.lang %}{% else %}{% assign page_lang = "fr" %}
{% endif %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ page_lang }}"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="{{ page_lang }}"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="{{ page_lang }}"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page_lang }}"><!--<![endif]-->
<head>
{% include head.liquid %}
</head>

{% include analyticstracking_g4.liquid %}

<body id="page">
{% include analyticstracking.liquid %}

{% include navigation.liquid %}

<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}<img id="img-banner" src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Crédit photo : <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
      <div class="entry-content">
        {{ content }}
        <div class="entry-footer">
          <p class="entry-author">{{ page.author }}</p>
          <p class="entry-date">{{ page.date | date: '%-d' }} {% assign m = page.date | date: "%-m" %}
          {% case m %}
            {% when '1' %}janvier
            {% when '2' %}février
            {% when '3' %}mars
            {% when '4' %}avril
            {% when '5' %}mai
            {% when '6' %}juin
            {% when '7' %}juillet
            {% when '8' %}août
            {% when '9' %}septembre
            {% when '10' %}octobre
            {% when '11' %}novembre
            {% when '12' %}décembre
          {% endcase %} {{ page.date | date: '%Y' }}</p>
        </div>
{% include google-adsense.liquid %}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <nav class="pagination">
      {% if page.previous %}
        <a id="bouton-prec" href="{{ site.url }}{{ page.previous.url }}" class="btn btn_prev_next bouton-prec" title="{{ page.previous.title }}">Précédent</a>
      {% endif %}
      {% if page.next %}
        <a id="bouton-suiv" href="{{ site.url }}{{ page.next.url }}" class="btn btn_prev_next bouton-suiv" title="{{ page.next.title }}">Suivant</a>
      {% endif %}
    </nav><!-- /.pagination -->
  </article>
</div><!-- /#main -->



<div class="footer-wrapper">
  <footer class="entry-wrapper">
    {% include footer.liquid %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.liquid %}

</body>
</html>
